// font//

$font-primary: 'Poppins', sans-serif;
$font-size:16px;
$font-weigth-regular:400;
$font-weigth-semibold:600;
$font-weigth-bold:700;

// color//
$primary-color-gold:#071952;
$primary-color-blue1:#0B666A;
$primary-color-blue2:#35A29F;
$primary-color-blue3:#97FEED;
$primary-color-white:#ffff;

